
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>News List</h2>
<a href="@Url.Action("Add", "News")" class="btn btn-success m-2">Add New</a>

<table id="newsTable" class="table table-striped table-bordered" style="width: 100%; border: 1px solid white;">
    <thead>
        <tr>
            <th scope="col">News ID</th>
            <th scope="col">Title</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Content</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.newsList)
        {
            <tr>
                <th scope="row">@item.IDnews</th>
                <td>@item.Title</td>
                <td>@item.CreationDate.ToShortDateString()</td>
                <td>...</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="~/Img/@item.Image" alt="News Image" style="width: 100px; height: auto;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "News", new { id = item.IDnews })" class="btn btn-light btn-round px-5"><i class="icon-pencil"></i> Edit</a>
                    <button onclick="removeNews(@item.IDnews)" class="btn btn-sm btn-danger px-5">DELETE</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function removeNews(newsId) {
        if (confirm("Are you sure you want to delete the news with ID " + newsId + "?") == true) {
            $.get("/News/Remove", { id: newsId }, function (data) {
                if (data) {
                    alert("News has been deleted successfully.");
                    location.reload();
                } else {
                    alert("An error occurred while deleting the news.");
                }
            });
        }
    }
</script>
