
@{
    ViewBag.Title = "JobApplied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" style="border: 1px #808080 solid; margin-bottom: 200px">
    <h3>Job Applied</h3>

    <!-- Table to show the list of PDF files -->
    <table>
        <thead>
            <tr>
                <th scope="col">Application ID</th>
                <th scope="col">Company</th>
                <th scope="col">Job Title</th>
                <th scope="col">Applied Date</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">CV</th>
                <th scope="col">Cover Letter</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.listJobApplied)
            {
                <tr>
                    <td>@item.applyJob.ID</td>
                    <td>@item.applyJob.tbl_Job.tbl_Company.Name</td>
                    <td><a href="@Url.Action("JobDetail", "Job", new {id = item.applyJob.tbl_Job.ID})" target="_blank"> @item.applyJob.tbl_Job.Name</a></td>
                    <td>@item.applyJob.AppliedDate.ToShortDateString()</td>
                    <td>@item.applyJob.Name</td>
                    <td>@item.applyJob.Mail</td>
                    <td><a href="~/CV/@item.FileCV" target="_blank"> @item.FileCV</a></td>
                    <td>@item.applyJob.CoverLetter</td>
                    <td>@item.applyJob.ApplyStatus</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<style type="text/css">


    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    a {
        text-decoration: none;
        color: #0275d8;
    }

        a:hover {
            text-decoration: underline;
        }
</style>