
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Category List</h2>
<a href="@Url.Action("Add", "Category")" class="btn btn-success m-2">Add New</a>

<table id="categoryTable" class="table table-striped table-bordered" style="width: 100%; border: 1px solid white;">
    <thead>
        <tr>
            <th scope="col">Category ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in ViewBag.categories)
        {
            <tr>
                <th scope="row">@category.ID</th>
                <td>@category.Name</td>
                <td><img src="~/Img/@category.image" alt="Category Image" style="width: 50px; height: 50px;" /></td>
                <td>
                    <a href="@Url.Action("Edit", "Category", new { id = category.ID })" class="btn btn-light btn-round px-5"><i class="icon-pencil"></i> Edit</a>
                    <button onclick="removeCategory(@category.ID)" class="btn btn-sm btn-danger px-5">DELETE</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function removeCategory(id) {
        if (confirm("Are you sure you want to delete the category with ID " + id + "?") == true) {
            $.get("/Category/Remove", { id: id }, function (data) {
                alert("Category has been deleted");
                location.reload();
            });
        }
    }
</script>
